## Recomendador de productos Club Grido

Existe la necesidad de procesar los datos históricos de consumo de los socios para poder recomendarles productos de acuerdo a sus preferencias.

En este caso se aplicará la librería LightFM que permite analizar las compras que realizó cada socio y ademas agregarle variables descriptivas a cada entidad (socio y producto)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import pyodbc
import os

from lightfm import LightFM
from datetime import datetime as dt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)

#### Importo datos

In [14]:
DB = {'servername': '',
      'database': '',
      'usuario' :'',
      'contraseña':'',
      'Encrypt':'yes',
      'TrustServerCertificate':'no',
      'Connection Timeout':'30'}

# create the connection
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] +\
                      ';UID=' + DB['usuario'] + ';PWD='+ DB['contraseña'] + ';Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30')

# query db
sql = """

"""
df = pd.read_sql(sql, conn)
df.head(2)

,CustomerId,monetary_value,T,recency,frequency,categoria
0,954A3FC4-1205-C8A0-6BA4-08D0C305D616,0.512954,102,87,65,ABANDONO
1,0E246B1A-F8E1-CED5-72D4-08D0C0CDF115,0.573958,102,23,23,ABANDONO
2,10C29CB8-C4F5-C071-3842-08D0BF4D95AE,1.453636,103,71,10,ABANDONO
3,DE3B393D-8E46-C831-D611-08D0BF3B6F0A,0.780000,71,16,1,ABANDONO
4,C0D42EB9-FF1F-CBC2-E54E-08D0BF488BE9,0.556818,102,56,10,ABANDONO

In [18]:
df.isnull().sum()

CustomerId           0
monetary_value       0
T                    0
recency              0
frequency            0
categoria            0
meses_con_compras    0
dtype: int64

### Matrix Factorization (MF) model: Solo una matriz users-items. Implementa collaborative Filterinf (CF).

#### Estos algoritmos utilizan únicamente el consumo pasado de los socios.

Debo crear una matriz esparsa donde cada fila es un cliente y en cada columna están los productos. Si un cliente compró alguna vez el producto, va un 1, sino -1

In [ ]:
model = LightFM(no_components=30)
model.fit(train, epochs=20)